<div>
  <h1 class="center">{{title}}</h1>
  <p class="center">
    <strong>Cámbiele el título a la página: </strong>
    <input class="center" type="text" [(ngModel)]="title" />
  </p>
  <br>
  <h4 class="center">Calculadora ez</h4>
  <p class="center">
    <input type="number" [(ngModel)]="numero1"/>
    {{numero1}}
    <br>
    <input type="number" [(ngModel)]="numero2"/>
    {{numero2}}
    <br>
  </p>
  <br>
  <p class="center">
    <input type="button" value="Sumar" (click)="operar('s')"/>
    <input type="button" value="Restar" (click)="operar('r')"/>
    <input type="button" value="Multiplicar" (click)="operar('m')"/>
    <button type="button" (click)="operar('d')">Dividir</button>
  </p>
  <br>
  <p class="center">
    Resultado: {{resultado}}
  </p>
  <h4 class="center">Información del componente login</h4>
  <div class="center">
    <app-login [resultadoLogin]="resultado"></app-login>
  </div>
  <br>
  <h4 class="center">Introduzca calquier texto</h4>
  <div class="center"><input type="text" value="" (keyup)="teclear($event)"></div>
  {{teclear}}
</div>